.main2 {
    background-image: -webkit-linear-gradient(bottom, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 10%), -webkit-linear-gradient(top, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 10%), url(../../assets/mobile/backgroundMobile2.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: fit-content;
}

.title {
    background-image: url(../../assets/UI/backgroundText.png);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2vw;
    width: 85vw;
    margin: 5vw auto 0px;
}

.dressImgs {
    height: 60vw;
    width: 70vw;
    display: flex;
    gap: 0.5vh;
    margin: 5vw auto;
}

.dressImg1 {
    height: 100%;
    width: 60%;
    background-color: red;
}

.dressDiv {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 0.5vh;
}

.dressImg2 {
    height: 30%;
    width: 100%;
    background-color: red;
}

.dressImg3 {
    height: 70%;
    width: 100%;
    background-color: red;
}

.text {
    color: white;
    font-size: 1.2rem;
    width: 90vw;
    margin: 0px auto 5vw;
    display: flex;
    flex-direction: column;
    gap: 3vw;
}

.saibaMais {
    width: fit-content;
    height: fit-content;
    font-weight: bold;
    background-color: white;
    border: none;
    padding: 2vw 4vw;
    border-radius: 10px;
}
