.wrapperBg {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    background-color: rgba(0, 0, 0, 0.8);
}

.wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 80vw;
    width: 80vw;
    overflow: hidden;
    background: #fff;
    border: 2px solid #fff;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
}

.wrapper .images {
    height: 100%;
    width: 100%;
    display: flex;
}

.wrapper .images .img-1 {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.wrapper .images .img-2 {
    position: absolute;
    height: 100%;
    width: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.wrapper .slider {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 99;
    height: 100%;
    overflow: hidden;
}

.wrapper .slider input {
    width: 100%;
    outline: none;
    background: none;
    -webkit-appearance: none;
    height: 100%;
    overflow-y: hidden;
}

.slider input::-webkit-slider-thumb {
    height: 486px;
    width: 3px;
    background: none;
    -webkit-appearance: none;
    cursor: col-resize;
}

.slider .drag {
    width: fit-content;
    height: 100%;
    position: absolute;
    left: 49.85%;
    transform: translateX(-50%);
    pointer-events: none;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slider .dragLineUpper,
.slider .dragLineLower {
    width: 2px;
    height: 100%;
    background-color: white;
}

.slider .dragBall {
    min-width: 30px;
    min-height: 30px;
    border-radius: 100%;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider .dragBall span {
    border: 8px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    transform: rotate(45deg);
}