.main {
    background-image: -webkit-linear-gradient(bottom, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 10%), url('../../assets/mobile/backgroundMobile.png');
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    height: fit-content;
}

#catalogue {
    width: 90vw;
    height: 7vw;
    background-color: black;
    margin: 7vh auto 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#catalogue p {
    color: white;
    letter-spacing: 0.728rem;
    font-weight: 100;
}

.anchor {
    display: block;
    height: 115px; 
    margin-top: -115px;
    visibility: hidden;
}

#sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90vw;
    margin: auto;
    gap: 5vh;
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 7vh;
}
